@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Raleway:wght@100&display=swap');
@font-face {
    font-family: Perfograma;
    src: url(fonts/Perfograma.otf);
}
@font-face {
    font-family: Gidole;
    src: url(fonts/Gidole-Regular.ttf); 
}
body {
    background: #02071d;
    margin: 0px;
    font-family: lato, sans-serif;
    font-weight: 300;
    color: white;
    display: flex;
    flex-direction: row;
}

.background-image {
    background-image: url(images/wolfgang-hasselmann-VaWHG-N73lc-unsplash\ \(1\).jpg);
    padding: 50vh 10vw;
    background-size: cover;
}

.logo {
    position: relative;
    bottom: 400px;
    color: white;
    font-family: Raleway;
    font-size: 5rem;
}

.content {
margin-top:  100px;
display: flex;
flex-direction: column;
}


.main-title {
    width: 700px;
    margin-bottom: 10px;
    padding-left: 100px;
    margin-top: 20px;
    font-size: 2rem;
    
}

.sub-title {
    padding-left: 100px;
    margin-bottom: 60px;
    font-size: 1.5rem;
}
.form {
    padding-left: 100px;
}

.form-header {
    font-size: 1.5rem;
}
form {
    font-size: 0.8rem;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    background-color: #02071d;
    color: rgb(128, 125, 125);
    -webkit-appearance: none;
    width: 400px;
    height: 20px;
    border: solid rgb(68, 66, 66) 0.5px;
    border-radius: 3px;
}


#first-name:focus,#email:focus,#password:focus,#last-name:focus,#phone-number:focus,#confirm-password:focus {
    outline: none;
    padding: 10px;
    border: solid #570080 1px;
}


.register {
    margin-top: 20px;
    margin-left: 100px;
    width: 250px;
    height: 60px;
    font-size: 1.5rem;
    font-family: lato;
    font-weight:700;
    color: #570080;
    border: solid #570080 3px;
    background-color: #02071d;
    border-radius: 10px;
}
.register:hover {
    cursor: pointer;
}

.login {
    padding-left: 100px;
}

.noMatch {
    border: solid red 1px;
}



.noMatchMessage::after {
    content:"*Passwords do not match";
    color: red;
    position: absolute;
    font-size: 0.8rem;
}